<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<script>
window.setTimeout(function () {
    location.href = "{{ url }}";
}, 5000); // refresh/redirect after 5 seconds.
</script>
<script>
    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('txt').innerHTML =
      h + ":" + m + ":" + s;
      var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
    </script>
</head>
<body onload="startTime()">
<h2>PiGreen</h2>
{% if rules %}
<table>
    <tr>
      <th>Nombre</th>
      <th>Condiciones</th>
      <th>Tipo de Regla</th>
      <th>Reles en uso</th>
      <th>Estado actual</th>
      <th>Job ID</th>
      <th>Editar</th>
      <th>Apagar</th>
    </tr>
    {% for rule in rules %}
    <tr>
        <td>{{ rule.name }}</td>
        <td>{{ rule.conditions }}</td>
        <td>{{ rule.rule_type }}</td>
        <td>{{ rule.relays_used }}</td>
        <td>{% if rule.active %} Encendida {% else %} Apagada {% endif %}</td>
        <td>{{ rule.job_id }}</td>
        <td><a href="{% url 'edit' rule.id %}">Editar</a></td>
        <td><a href="{% url 'switch_status' rule.id %}">{% if rule.active %} Apagar {% else %} Encender {% endif %}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>Sin reglas creadas</p>
{% endif %}

<footer>
    <h3> {{ th_message }} </h3>
    <div id="txt"></div>
</footer>

</body>

</html>
